html, body{
    margin:0;
    padding: 0;
    font-family: "NunitoSans-Rregula",Arial, Helvetica, sans-serif;
    background-image: url(../img/fondo-jurasico.jpg);
}

#container{
    max-width: 1200px;
    margin: 0 auto;
}

.text-secondary{
    color: var(--secondary-color);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.36s;
}

a:hover{
    color: var(--primary-color-dark);
}