header{
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    
}

header img{
    width: 150px;
}

header h1{
    color: var(--primary-color);
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 5px #ccc;
}