<aside>

    <div class="widget">
        <h3>Iniciar sesion</h3>
        
        <form>

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">

        </form>
    </div>

    <div class="widget">
        <h3>Ultimas entradas</h3>

        <ul>
            <li>
                <a href="#">El desarrollo web no es más que copiar y pegar.</a>
            </li>
            <li>
                <a href="#">Como hacer un slider con HTML y CSS</a>
            </li>
            <li>
                <a href="#">¿por que HTML no es un lenguaje de programación?</a>
            </li>
            <li>
                <a href="#">Como poner la primera letra en mayusculas con CSS</a>
            </li>
            <li>
                <a href="#">¿Que es un lenguaje de marcado?</a>
            </li>
        </ul>

    </div>

    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            La mejor manera de ser un programador es escribir código y estudiar grandes programas que otra gente ha escrito.
        </blockquote>
    </div>

</aside>