<aside>

    <div class="widget">
        <h3>Iniciar sesion</h3>
        
        <form>

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">

        </form>
    </div>

    <div class="widget">
        <h3>Ultimas entradas</h3>

        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=YNp0mwwI8-Q" target="_blank">El nuevo espinosaurio (documental)</a>
            </li>
            <li>
                <a href="https://cadenaser.com/nacional/2024/10/29/un-nuevo-estudio-cambia-la-hipotesis-sobre-el-principal-culpable-de-la-extincion-de-los-dinosaurios-no-fue-el-calor-sino-el-frio-cadena-ser/" target="_blank">Un nuevo estudio cambia la hipótesis sobre el principal culpable de la extinción de los dinosaurios</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=qizBXZNiNSY&t=78s" target="_blank">TIPOS DE DINOSAURIOS, para los más peques....</a>
            </li>
            
        </ul>

    </div>

    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            «Los pájaros son dinosaurios, solo tenemos que arreglarlos para que se vean un poco más como dinosaurios». Jack Horner.
        </blockquote>
    </div>

</aside>