<na id="main-menu">
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a>Noticias</a>
            <ul>
                <li>
                    <a href="#">Cretácico</a>
                </li>
                <li>
                    <a href="#">Jurásico</a>
                </li>
                <li>
                    <a href="#">Triásico</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
    </ul>
</na>
