<na id="main-menu">
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a>Periodos</a>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Cret%C3%A1cico" target="_blank">Cretácico</a>
                </li>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Jur%C3%A1sico" target="_blank">Jurásico</a>
                </li>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Tri%C3%A1sico" target="_blank">Triásico</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://www.tododinosaurios.com/blog/" target="_blank">Blog</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
    </ul>
</na>
